#quiz-container {
    text-align: center;
    margin-top: 2em;
}

button {
    margin: 5px;
}

button#restart-quiz-btn {
    display: none;
}

#correct-answers {
    font-weight: bold;
    color: green;
}

#incorrect-answers {
    font-weight: bold;
    color: red;
}